/* To be overridden by theme user */

/*
BANNER AND HEADER
*/
#bannerImgTitle {
  width: 100%;
  text-align: left;
  max-width: $container-max-width;
}

#bannerTitle {
  padding: 0;
  float: left;
  margin: 0 auto;
  width: 100%;
  color: black;
}

#siteTitle {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding: 0;
}

.slogan {
  clear: both;
  float: left;
  font-size: 16px;
  color: #666;
}

.menu-banner {
  float: right;
}

/*
back to top
*/

.backtotop {
  padding-top: 4em;
  padding-bottom: 0;
  text-align: center !important;
  font-size: 2em;
}

.book-menu .book-menu-content {
  background: #fff;
  margin-top: 50px;
  padding-top: 0px;
  margin-bottom: 0px;
}

/*
FOOTER
*/

.footer-qkzk {
  margin-top: 5em;
}

.footer-title {
  border-top: 4px solid #1a1a1a;
  padding-top: 1.5em;
}

.white-back {
  background-color: #fff;
  min-height: 96vh;
}

.container {
  background-color: #fff;
}

// small desktop / tablets
@media screen and (min-width: 768) {
  .white-back {
    padding: 0px;
    margin: 0px;
    margin-top: 1em;
  }

  .book-toc,
  .book-menu {
    border-top: 4px solid #1a1a1a;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 0;
  }

  .book-menu .book-menu-content {
    top: 30px;
    margin-bottom: 0px;
  }

  .book-toc .book-toc-content {
    top: 30px;
  }

  .content-desktop {
    display: none;
  }

  .banner {
    margin: 0px auto;
    display: none;
  }

  #bannerTitle {
    display: none;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    height: 0px;
    color: black;
  }

  #siteTitle {
    margin-top: 50px;
    height: 0px;
  }

  #bannerImgTitle {
    height: 0px;
    text-align: center;
  }
}

// mobile
@media screen and (max-width: 768px) {
  .white-back {
    padding: 0px;
    margin: 0px;
  }

  .book-menu .book-menu-content {
    top: 30px;
    margin-bottom: 0px;
  }

  .book-toc .book-toc-content {
    top: 30px;
  }

  .content-desktop {
    display: none;
  }

  body {
    background-image: none;
  }

  #bannerTitle {
    width: 100%;
    margin-left: auto;
    color: black;
  }

  #siteTitle {
    margin-top: 50px;
    height: 0px;
  }

  #bannerImgTitle {
    height: 0px;
    text-align: left;
  }
}

// wide screens
@media (min-width: 1200px) {
  .white-back {
    margin: 20px;
    padding: 30px;
  }

  body {
    background-image: url("/back_qkzk.jpg");
    background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll;
    min-height: 100vh;
  }

  .book-menu .book-menu-content {
    top: 30px;
    margin-bottom: 50px;
  }

  .book-toc .book-toc-content {
    top: 30px;
  }

  .content-desktop {
    display: flex;
  }

  #bannerTitle {
    display: block;
    padding-left: 20px;
    padding-top: 10px;
    margin-left: 20px;
  }

  #bannerImg {
    height: 8em;
    background-size: cover;
    margin-bottom: 0vh;
    display: block;
  }

  #siteTitle {
    margin-top: 0px;
    height: 30px;
  }

  #bannerImgTitle {
    height: 100%;
  }
}

.highlight {
  box-shadow: 5px 5px 5px #eee;
}
