/* To be overridden by theme user */
// @import "variables";
/* Remove default bullets */


/*
NEW NAVIGATION MENUS
FINALLY WORKS ON FIREFOX !
*/
ul, #myUL {
  list-style-type: disc;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  width: auto;
  display: table;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Prevent text selection */
}

.caret-down {
  width: auto;
  display: table-row;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "+";
  display: table-cell;
  font-size: 150%;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  vertical-align: super;
}

.caret a, .caret-down a {
  margin: 10px 0px 0px 20px;
}

.bookkkk {
  margin: -10px 0px 0px 0px;
  list-style-type: none;
}

.coucher {
  margin: -10px 0px 0px 0px;
  list-style-type: none;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  content: "–";
  display: table-cell;
  font-size: 150%;
  font-weight: bold;
  margin: -10px 0px 0px 0px;
  vertical-align: super;
}

.caret-down {
  margin: -200px 0px 0px 0px;
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

/*
END NEW MENUS
*/

html {
  height: 100vh
}
.white-back {
  background-color: $body-background;
  margin: 21px;
  padding: 40px;
  min-height: 96vh;
}
.container {
  background-color: #FFF;
}

/*
BANNER AND HEADER
*/
.banner {
  display: block;
  width:95%;
  max-width: $container-max-width;
  margin:7px auto;
  color: #000;
  height: 120px;
}
.title-link{
  font-weight: bold;
  color: #000;
  margin-bottom: 0px;
}
#bannerTitle{
  padding-left: 0px;
  float: left;
}
.slogan{
  clear:both;
  float: left;
  font-size: 16px;
  color: #666;
}
.menu-banner{
  float: right;
}
#bannerImg {
  height: 200px;
  background-size: cover;
  margin-bottom: 13vh;
}

/*
back to top
*/

.backtotop {
  padding-top: 4em;
  padding-bottom: 0;
  // margin: 0;
  text-align: center!important;
  font-size: 2em;
}



/*
BOOK PAGES AND TOCS
*/
.book-page {
  padding-top: 0;
}
.nav-link{
  color: #000;
  font-size: 20px;
  padding-right: 20px;
}
.book-menu nav, .book-toc nav {
  position:sticky;
  top: 0;
  margin: 0;
  padding: 0;
}

.book-toc h1, .book-brand {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5vh;
}
.book-brand {

}
.menu-nav {
  line-height: normal;
  margin-left: 20px;
}
.book-toc ul li a {
  font-size: $font-size-14;
  color: #000;
}
.book-menu summary, .book-menu li{
  // margin-bottom: 0.4em;
}

a.nav-link {
  color: #000;
}


/*
FOOTER
*/

.footer-qkzk {
  margin-top: 5em;
}
.footer-title{
  border-top: 4px solid #1a1a1a;
  padding-top: 1.5em;
}

/*
RESPONSIVE DESIGN
*/

// @media screen and (min-width: 768px){
@media screen and (min-width: $sm-breakpoint){
  .book-toc, .book-menu {
    border-top: 4px solid #1a1a1a;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 0;
  }
  .content-desktop {
    display: none;
  }
}

// mobile
// @media screen and (max-width: 768px) {
@media screen and (max-width: $sm-breakpoint) {
  .white-back{
    padding: 0;
    margin: 0;
    margin-top: 1em;
  }
  .content-desktop {
    display: none;
  }
  body{
    background-image: none;
  }
  summary, details li {
    // font-size: 4vw;
  }
  #bannerTitle{
    padding-left: 2vh;
  }
}

// @media (min-width: 1200px) {
@media (min-width: $md-breakpoint) {
  body {
    background-image: url("/back_qkzk.jpg");
    background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll;
    min-height: 100vh
  }
  .content-desktop {
      display: flex;
  }
}

// btn navigation

.right {
  float: right;
}
.left {
  float: left;
}
.center {
  margin: auto;
  width: 50%;
}
#link_next, #link_previous {
  display: none;
}


