<script src="{{ .Site.BaseURL }}viz/viz.js"></script>
<script src="{{ .Site.BaseURL }}viz/full.render.js"></script>
<style>
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}


</style>
<main>
    <h3>
        {{ if .Get `title` }}
            {{ (print "### " (.Get `title`)) | .Page.RenderString }}
        {{ else }}
            {{ (print "### Graphe " (add .Ordinal 1)) | .Page.RenderString }}
        {{ end }}
    </h3>
    <div id="viz_{{ .Ordinal | safeJS }}">
    </div>
</main>

<script>
    const viz_elm_{{ .Ordinal | safeJS }} = document.getElementById("viz_{{ .Ordinal | safeJS }}");
    const graphContent_{{ .Ordinal | safeJS }} = {{ .Inner }};
    let viz_{{ .Ordinal | safeJS }} = new Viz();
    
    viz_{{.Ordinal | safeJS }}.renderSVGElement(graphContent_{{ .Ordinal | safeJS }})
        .then(function(element) {
            viz_elm_{{ .Ordinal |safeJS }}.appendChild(element);
            return element;
        })
        .then(function(element) {
            let box = element.viewBox.baseVal;
            let aspectRatio = box.width / box.height;
            if (aspectRatio > 1) {
                let paddingBottom = Math.ceil(100 / aspectRatio);
                viz_elm_{{ .Ordinal | safeJS }}.style.paddingBottom = `${paddingBottom}%`;
                viz_elm_{{ .Ordinal | safeJS }}.style.maxWidth = `${box.width}px`;
                viz_elm_{{ .Ordinal | safeJS }}.classList.add("svg-container");
                element.removeAttribute("width");
                element.removeAttribute("height");
                element.classList.add("svg-content");
            } else {
                viz_elm_{{ .Ordinal | safeJS }}.style.textAlign = "center";
            }
        })
        .catch(error => {
            // Create a new Viz instance (@see Caveats page for more info)
            viz_{{ .Ordinal | safeJS }} = new Viz();

            // Possibly display the error
            console.error(error);
        });
</script>
