<script src="{{ .Site.BaseURL }}coi-serviceworker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/theme/idea.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/python_editor.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js"></script>

{{ if .Get `title` }}
    {{ (print "### " (.Get `title`)) | .Page.RenderString }}
{{ else }}
    {{ (print "### Python " (add .Ordinal 1)) | .Page.RenderString }}
{{ end }}

<main>
    <div id="python_ide_{{ .Ordinal | safeJS }}">
        <textarea id="commands_{{ .Ordinal | safeJS }}" class="commands">
{{ if gt (len .Inner) 1 }}{{ .Inner }}{{ end }}
        </textarea>
        <a class="execute book-btn" title="Ctrl+Enter">Run</a>
        <a class="reset book-btn" title="Ctrl+R">Reset</a>
        <a class="download book-btn" title="Ctrl+S">Download</a>
        <a class="stop book-btn" title="Ctrl+D">Stop</a>
        <pre class="python_output" style="display: none;">Résultat</pre>
        <pre class="python_error" style="display: none;"></pre>
        <pre class="worker_error" style="display: none;"></pre>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/python/python.min.js"></script>
<script type="module">
    import { onElementLoaded, init_worker } from "{{ .Site.BaseURL }}js/pyodide_consumer.js";

    const url = "{{ .Site.BaseURL }}js/pyodide_webworker.js";

    async function start_worker(ide) {
        {{ if .Get `init` }}
        let initfile = "{{ .Site.BaseURL }}"  + "{{ .Page.File.Dir }}" + "{{ .Get `init` }}";
        initfile = initfile.toLowerCase();
        {{ else }}
        let initfile = null;
        {{ end }}
        init_worker(ide, url, initfile);
    }


    onElementLoaded("div#python_ide_{{ .Ordinal | safeJS }}").then(() => {
        const ide = document.querySelector("div#python_ide_{{ .Ordinal | safeJS }}");
        start_worker(ide);
    }).catch(() => { });
</script>
