<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/theme/idea.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/sql_editor.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/sql/sql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/addon/comment/comment.js"></script>

<h3>
{{ if .Get `title` }}
    {{ .Get `title` }}
{{ else }}
    SQL
{{ end }}
</h3>
<main>
    <div id="sql_ide_{{ .Ordinal | safeJS }}">
        <label for='commands_{{ .Ordinal | safeJS }}'>Commande SQL</label>
        <br>
        <textarea id="commands_{{ .Ordinal | safeJS }}" class="commands">
{{ if gt (len .Inner) 1 }}{{ .Inner }}{{ end }}
        </textarea>
        <a id="execute" class="execute btn-sql book-btn" title="Ctrl+Enter">Run</a>
        <a class="reset book-btn" title="Ctrl+R">Reset</a>
        <a class="download book-btn" title="Ctrl+S">Download</a>
        <div id="error" class="error"></div>
        <pre id="output_{{ .Ordinal | safeJS }}" class="output">Résultat</pre>
    </div>
</main>

<script type="text/javascript" src="{{ .Site.BaseURL }}js/sql_ide.js"></script>
<script>
    {{ if .Get `dbfile` }}
        var dbfile = "{{ .Site.BaseURL }}" + "{{ .Page.File.Dir }}" + "{{ .Get `dbfile` }}";
        dbfile = dbfile.toLowerCase();
        console.log("dbfile", dbfile);
    {{ else }}
        var dbfile = null;
    {{ end }}

    {{ if .Get `init` }}
        var initfile = "{{ .Site.BaseURL }}"  + "{{ .Page.File.Dir }}" + "{{ .Get `init` }}";
        initfile = initfile.toLowerCase();
        console.log("initfile", initfile);
    {{ else }}
        var initfile = null;
    {{ end }}

    var worker_url = "{{ .Site.BaseURL }}js/worker-sql-wasm.js";

    onElementLoaded("div#sql_ide_{{ .Ordinal | safeJS }}").then(() => {
        const ide = document.querySelector("div#sql_ide_{{ .Ordinal | safeJS }}");
        load(ide, worker_url, dbfile, initfile);
    }).catch(() => { });
</script>
